/* TODO: code Slack layout */
.container-files {
  display: flex;
}
.sidebar {
  flex: 0 0 200px;
  background: rgba(77, 57, 75, 1.00);
  padding-top: 30px;
  color: #fff;
}
.messages {
  flex-grow: 1;
  overflow-y: scroll;
  height: 100vh;
}
.files {
  flex: 0 0 400px;
}
.sidebar ul li {
  list-style: none;
  padding-left: 10px;
}
.message {
  display: flex;
  margin: 20px;
}

/* Some very basic design for Slack avatars */
.avatar-slack {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

